
language: c

matrix:
  include:
    - os: linux
      dist: xenial
      compiler: gcc
    - os: osx
      compiler: clang

addons:
  apt:
    packages:
      # DRM
      - libdrm-dev
      # RANDR
      - libxcb1-dev
      - libxcb-randr0-dev
      # VidMode
      - libx11-dev
      - libxxf86vm-dev
      # GeoClue2
      - libglib2.0-dev
      # Meson
      - ninja-build

install:
  - |
    if [ "$TRAVIS_OS_NAME" == "osx" ]; then
      # Note: "brew update" and "brew install gettext" are not necessary and
      #       we can install needed packages with HOMEBREW_NO_AUTO_UPDATE=1.
      #       This reduces job time significantly.
      brew update
      # Building with Meson sometimes fails due to its regressions.
      # Meson can be installed via brew, but
      # we install it via pip to pin its version.
      # Meson uses Ninja and we install it via brew.
      brew install ninja
      # Enable gettext
      export PATH=/usr/local/opt/gettext/bin:$PATH
    fi
  - |
    if [ "$TRAVIS_OS_NAME" == "linux" ]; then
      # Set PATH to use Python 3.7 (already installed) and Meson
      export PATH=~/virtualenv/python3.7/bin:$PATH
    fi
    # This version of Meson is already tested.
  - pip3 install meson==0.54.2

before_script:
  - |
    if [ "$TRAVIS_OS_NAME" == "linux" ]; then
      CONF_FLAGS="--prefix=$TRAVIS_BUILD_DIR/root"
      CONF_FLAGS="$CONF_FLAGS -Ddrm=enabled -Drandr=enabled"
      CONF_FLAGS="$CONF_FLAGS -Dvidmode=enabled -Dquartz=disabled"
      CONF_FLAGS="$CONF_FLAGS -Dwingdi=disabled -Dgeoclue2=enabled"
      CONF_FLAGS="$CONF_FLAGS -Dcorelocation=disabled -Dgui=enabled"
      CONF_FLAGS="$CONF_FLAGS -Dubuntu=disabled -Dapparmor=enabled"
      CONF_FLAGS="$CONF_FLAGS -Dsystemduserunitdir=$TRAVIS_BUILD_DIR/root/lib/systemd/user"
      export CONF_FLAGS
    fi
  - |
    if [ "$TRAVIS_OS_NAME" == "osx" ]; then
      CONF_FLAGS="--prefix=$TRAVIS_BUILD_DIR/root"
      CONF_FLAGS="$CONF_FLAGS -Ddrm=disabled -Drandr=disabled"
      CONF_FLAGS="$CONF_FLAGS -Dvidmode=disabled -Dquartz=enabled"
      CONF_FLAGS="$CONF_FLAGS -Dwingdi=disabled -Dgeoclue2=disabled"
      CONF_FLAGS="$CONF_FLAGS -Dcorelocation=enabled -Dgui=disabled"
      CONF_FLAGS="$CONF_FLAGS -Dubuntu=disabled -Dapparmor=disabled"
      export CONF_FLAGS
    fi

script:
  - meson $CONF_FLAGS _build
  - ninja -v -C _build install
  - ninja -v -C _build test
  - ninja -v -C _build dist
  # redshift tests
  - |
    "$TRAVIS_BUILD_DIR"/root/bin/redshift -l 12:-34 -pv
  - |
    "$TRAVIS_BUILD_DIR"/root/bin/redshift -l 12:-34 -m dummy -vo
  - |
    echo -e "[redshift]\ndawn-time=6:30\ndusk-time=18:00-19:30" > time.config
  - |
    "$TRAVIS_BUILD_DIR"/root/bin/redshift -c time.config -pv
  - |
    "$TRAVIS_BUILD_DIR"/root/bin/redshift -c time.config -m dummy -vo
