image:
- Visual Studio 2015

environment:
  matrix:
    - arch: x86_64
      PATH: C:\Python37;C:\Python37\scripts;C:\msys64\mingw64\bin;%PATH%;
    - arch: i686
      PATH: C:\Python37;C:\Python37\scripts;C:\msys64\mingw32\bin;%PATH%;

build:
  verbosity: detailed

install:
  # This version of Meson is already tested.
- pip3 install ninja meson==0.54.2

before_build:
- ps: |
    $env:CONF_FLAGS = "--prefix=${env:APPVEYOR_BUILD_FOLDER}\root"
    $env:CONF_FLAGS += " -Ddrm=disabled -Drandr=disabled -Dvidmode=disabled"
    $env:CONF_FLAGS += " -Dwingdi=enabled -Dquartz=disabled"
    $env:CONF_FLAGS += " -Dgeoclue2=disabled -Dcorelocation=disabled"
    $env:CONF_FLAGS += " -Dgui=disabled -Dubuntu=disabled -Dnls=disabled"

    # For Ninja
    $env:PATH = "${env:APPVEYOR_BUILD_FOLDER};${env:PATH};"

build_script:
- ps: md (Join-Path $env:APPVEYOR_BUILD_FOLDER root)
- meson %CONF_FLAGS% _build &&
    ninja -C _build install &&
    ninja -C _build test &&
    ninja -C _build dist

test_script:
- |
  %APPVEYOR_BUILD_FOLDER%\root\bin\redshift.exe -l 12:-34 -pv
- |
  %APPVEYOR_BUILD_FOLDER%\root\bin\redshift.exe -l 12:-34 -m dummy -vo
- ps: Set-Content -Value "[redshift]`ndawn-time=6:30`ndusk-time=18:00-19:30`n" -Path time.config
- |
  %APPVEYOR_BUILD_FOLDER%\root\bin\redshift.exe -c time.config -pv
- |
  %APPVEYOR_BUILD_FOLDER%\root\bin\redshift.exe -c time.config -m dummy -vo

after_build:
- ps: |
    $ZIP_NAME = "redshift-windows-$env:arch"
    $ZIP_FILE = "redshift-windows-$env:arch.zip"

    md $ZIP_NAME
    Copy-Item -Path $env:APPVEYOR_BUILD_FOLDER\root\bin\redshift.exe -Destination $ZIP_NAME
    Copy-Item -Path README.md -Destination $ZIP_NAME/README.txt
    Copy-Item -Path NEWS.md -Destination $ZIP_NAME/NEWS.txt
    Copy-Item -Path COPYING -Destination $ZIP_NAME/COPYING.txt
    Copy-Item -Path redshift.conf.sample -Destination $ZIP_NAME
    7z a $ZIP_FILE $ZIP_NAME/

- ps: Push-AppveyorArtifact $ZIP_FILE
