image:
- Visual Studio 2015

environment:
  matrix:
    - arch: x86_64
    - arch: i686

build:
  verbosity: detailed

build_script:
- ps: |
    If ($env:arch -Match "x86_64") {
      $env:MSYSTEM = "MINGW64"
    } Else {
      $env:MSYSTEM = "MINGW32"
    }

    $env:CONFIGURE_FLAGS = "--disable-drm --disable-randr --disable-vidmode --enable-wingdi --disable-quartz --disable-geoclue2 --disable-corelocation --disable-gui --disable-ubuntu --disable-nls --host=$env:arch-w64-mingw32"

- ps: md (Join-Path $env:APPVEYOR_BUILD_FOLDER root)
- ps: |
        md (Join-Path $env:APPVEYOR_BUILD_FOLDER elektra-download)
        cd $env:APPVEYOR_BUILD_FOLDER
        cd elektra-download
        Start-FileDownload 'https://build.libelektra.org/job/libelektra/job/master/lastSuccessfulBuild/artifact/artifacts/debian-bullseye-mingw-w64/elektra.zip'

- C:\msys64\usr\bin\bash -lc "cd $APPVEYOR_BUILD_FOLDER && cd elektra-download && 7z x elektra.zip"
- C:\msys64\usr\bin\bash -lc "cd $APPVEYOR_BUILD_FOLDER && cd elektra-download/elektra && cp -r usr/local/include/* /usr/include"
- C:\msys64\usr\bin\bash -lc "cd $APPVEYOR_BUILD_FOLDER && cd elektra-download/elektra && cp -r usr/local/lib/* /usr/lib"
- C:\msys64\usr\bin\bash -lc "cd $APPVEYOR_BUILD_FOLDER && ./bootstrap"
- C:\msys64\usr\bin\bash -lc "cd $APPVEYOR_BUILD_FOLDER && ./configure --prefix=\"$APPVEYOR_BUILD_FOLDER/root\" $CONFIGURE_FLAGS"
- C:\msys64\usr\bin\bash -lc "cd $APPVEYOR_BUILD_FOLDER && make distcheck DISTCHECK_CONFIGURE_FLAGS=\"$CONFIGURE_FLAGS\""
- C:\msys64\usr\bin\bash -lc "cd $APPVEYOR_BUILD_FOLDER && make install"

test_script:
- |
  %APPVEYOR_BUILD_FOLDER%\root\bin\redshift.exe -l 12:-34 -pv
- |
  %APPVEYOR_BUILD_FOLDER%\root\bin\redshift.exe -l 12:-34 -m dummy -vo
- ps: Set-Content -Value "[redshift]`ndawn-time=6:30`ndusk-time=18:00-19:30`n" -Path time.config
- |
  %APPVEYOR_BUILD_FOLDER%\root\bin\redshift.exe -c time.config -pv
- |
  %APPVEYOR_BUILD_FOLDER%\root\bin\redshift.exe -c time.config -m dummy -vo

after_build:
- ps: |
    $ZIP_NAME = "redshift-windows-$env:arch"
    $ZIP_FILE = "redshift-windows-$env:arch.zip"

    md $ZIP_NAME
    Copy-Item -Path $env:APPVEYOR_BUILD_FOLDER\root\bin\redshift.exe -Destination $ZIP_NAME
    Copy-Item -Path README.md -Destination $ZIP_NAME/README.txt
    Copy-Item -Path NEWS.md -Destination $ZIP_NAME/NEWS.txt
    Copy-Item -Path COPYING -Destination $ZIP_NAME/COPYING.txt
    7z a $ZIP_FILE $ZIP_NAME/

- ps: Push-AppveyorArtifact $ZIP_FILE
