image:
- Visual Studio 2015

environment:
  matrix:
    - arch: x86_64
    - arch: i686

build:
  verbosity: detailed

build_script:
- if [%arch%]==[x86_64] (
      SET "ADD_PATH_CMD=C:\mingw-w64\i686-6.3.0-posix-dwarf-rt_v5-rev1\mingw32\bin" &&
      SET "MSYSTEM=MINGW64"
    )
- if [%arch%]==[i686] (
      SET "ADD_PATH_CMD=C:\msys64\usr\bin;C:\mingw-w64\i686-6.3.0-posix-dwarf-rt_v5-rev1\mingw32\bin" &&
      SET "MSYSTEM=MINGW32"
    )
- set PATH=%ADD_PATH_CMD%;%PATH%
- bash -lc "cd $APPVEYOR_BUILD_FOLDER && ./bootstrap"
- bash -lc "cd $APPVEYOR_BUILD_FOLDER && ./configure --enable-static --disable-shared --disable-drm --disable-randr --disable-vidmode --enable-wingdi --disable-quartz --disable-geoclue --disable-geoclue2 --disable-corelocation --disable-gui --disable-ubuntu --disable-nls --host=$arch-w64-mingw32"
- bash -lc "cd $APPVEYOR_BUILD_FOLDER && make"

after_build:
- cmd: >-
    7z a redshift-windows-%arch%.zip ./src/redshift.exe COPYING NEWS README.md

    appveyor PushArtifact redshift-windows-%arch%.zip
